* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: rgb(171, 211, 247);
  display: grid;
  place-content: center;
  font-family: 'Lucida Sans';
}

.container {
  min-height: 50vh;
  min-width: 450px;
  background-image: linear-gradient(rgb(5, 176, 206, 0.8), rgb(9, 79, 209, 0.8), rgb(68, 9, 177,0.8));
  border-radius: 90px;
  display: grid;
  place-content: center;
  padding: 25px;
  gap: 20px;
  transition: all 1s ease;
}

.inner-container {
  margin: 0;
  display: grid;
  place-content: center;
}

.location {
  display: flex;
}

.location-icon {
  height: 20px;
  width: 20px;
}

.location-name {
  font-size: 1.3rem;
  color: rgb(238, 225, 226);
  text-transform: capitalize;
}

.app-name {
  font-size: 2rem;
  color: rgb(203, 245, 18);
}

.search-country {
  display: grid;
  grid-auto-flow: column;
  padding-left: 40px;
}

.search-input {
  font-size: 1.1rem;
  padding: 8px;
  border-radius: 20px;
  border: none;
  text-align: center;
  outline: none;
}

.search-button {
  background-color: rgb(206, 230, 250);
  border: none;
  width: 45px;
  transform: translateX(-35px);
  border-radius: 15px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #3498db;
  transition: all 0.2s linear;
}

.search-icon {
  height: 30px;
  width: 35px;
}

.temprature {
  display: flex;
}


.weather-description {
  white-space: nowrap;
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(255, 183, 88); 
}

.temprature,
.humidity,
.wind-speed {
  white-space: nowrap;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(233, 241, 153);
}

sup {
  transform: translateY(-3px);
  font-size: 1.5rem;
}

.generate-div {
  display: grid;
  place-content: center;
  gap: 15px;
}

.loading-container {
  width: 309px;
  height: 350px;
  padding: 100px;
}

.loading-circle {
  width: 100px;
  height: 100px;
  display: inline-block;
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  animation: spin 0.75s linear infinite;
  box-shadow: 0 0 20px #3498db;
}

@keyframes spin {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading-para {
  color: aliceblue;
  transform: translate(112px, 175px);
}

.error-message {
  color: aliceblue;
}

.sun-riseb {
  background-image: url(images/sun_rise.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.sun-rise {
  background-image: linear-gradient(rgba(134, 73, 4, 0.8), rgba(141, 109, 2, 0.8));
}

.sun-setb {
  background-image: url(images/sun_set.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.sun-set {
  background-image: linear-gradient(rgba(250, 104, 20, 0.7), rgba(39, 13, 1, 0.7));
}

.nightb {
  background-image: url(images/night_image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.night {
  background-image: linear-gradient(rgba(8, 37, 75, 0.7), rgba(2, 8, 27, 0.7));
}

.dayb {
  background-image: url(images/day_image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.day {
  background-image: linear-gradient(rgba(151, 167, 189, 0.8), rgba(2, 49, 10, 0.7));
}

.time-div {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: grid;
  place-content: center;
  font-size: 1.3rem;
  color: aliceblue;
}