* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  display: grid;
  place-content: center;
  background-image: linear-gradient(rgb(8, 159, 179),rgb(8, 28, 139), rgb(86, 8, 211));
}

.container {
  padding: 20px;
  min-height: 130px;
  width: 700px;
  border-radius: 40px;
  display: grid;
  place-content: center;
  background-color: white;
}

.input-btn-container {
  display: flex;
  justify-content: space-around;
}

.input-task,
.input-date {
  font-size: 1.1rem;
  padding: 10px;
}

.add-btn {
  background-color: rgb(5, 185, 35);
  padding: 2px 20px;
  font-size: 1.3rem;
  color: rgb(219, 219, 218);
  cursor: pointer;
  border: none;
  margin: none;
}

li {
  margin: 10px;
  display: grid;
  grid-template-columns: 4.06fr 1.3fr 1fr;
  gap: 5px;
  justify-content: space-between;
  font-size: 1.2rem;
}

li button {
  background-color: rgb(179, 42, 42);
  border: none;
  font-size: 1.2rem;
  padding: 2px 5px;
  color: aliceblue;
  cursor: pointer;
}

li button:hover {
  background-color: white;
  color: rgb(179, 42, 42);
  border: 2px solid rgb(179, 42, 42);

}

.add-btn:hover {
  background-color: white;
  color: rgb(5, 185, 35);
  border: 2px solid rgb(5, 185, 35);
}

.wrap {
  white-space: wrap;
  display: grid;
  grid-template-columns: 1fr 100fr;
  gap: 10px;
}

.nowrap {
  white-space: nowrap;
}

.list-container,
.input-btn-container {
  width: 525px;
}

.input-radio {
  accent-color: green;
  height: 25px;
  width: 15px;
}

.input-radio:checked + span {
  text-decoration: line-through;
  text-decoration-color: black;
  text-decoration-style: solid;
  color: gray;
}

span {
  font-size: 1.3rem;
}