* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  display: grid;
  place-content: center;
  background-image: linear-gradient(rgb(8, 159, 179),rgb(8, 28, 139), rgb(86, 8, 211));
}

.container {
  min-height: 130px;
  min-width: 600px;
  border-radius: 40px;
  display: grid;
  place-content: center;
  background-color: white;
}

.input-task,
.input-date {
  font-size: 1.3rem;
}

.add-btn {
  background-color: rgb(5, 185, 35);
  padding: 2px 20px;
  font-size: 1.3rem;
  color: rgb(219, 219, 218);
  cursor: pointer;
  border: none;
  margin: none;
}

li {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}

li button {
  background-color: rgb(179, 42, 42);
  border: none;
  font-size: 1.2rem;
  padding: 2px 10px;
  color: aliceblue;
}

